body {
  background-image: url('https://smd-cms.nasa.gov/wp-content/uploads/2023/09/31101484000_02c1a70913_o.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
float: left;

}

.welcome-message {
  text-align: left;
  line-height: 1.7;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 80px;
  color: white;
  max-width: 70%;
}

.attraction-introduction {
  text-align: left;
  line-height: 1.6;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  max-width: 50%;
}

.details {
  text-align: left;
  line-height: 1.8;
  margin-top: 20px;
  margin-bottom: 20px;

  color: white;
  max-width: 90%;
}

.shape-ex1{
  width: 208px;
  height: 208px;
  filter: drop-shadow(10px 10px 10px gray);
}
.shape-ex1 img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.clas{
display: block;
margin: auto;
text-align: center;
font-size: 50px
}

.img-container{
width: 900px;
margin: 0 auto;
}

.card{
position: relative;
width: 270px;
float:right;
margin: 10px;
}

img{
display: block;
width: 80%;
height: auto;
}

.info{
opacity: 0;
position: absolute;
box-sizing: border-box;
background-color: rgba(0,0,0,.3);
top: 0;
width: 80%;
height: 100%;
text-align: center;
padding-top: 40px;
}
.info p{
color: #fff;
}
.info:hover{
-webkit-transition: 500ms;
opacity: 1;
}